@media screen and (max-width : 700px) {
    
    .primary-header
    
    {
        max-width : 80%;
      
            
            h1{
                font-size: 2rem;
                margin-left: -10px;
                
            }
          
            
            
        }      
        
               
              
                
//     //             justify-content: space-between;
               
//     //             // border : 1px solid black;
//     //             max-width : 100%;
//     //             margin : 0 auto;
//     //             height: 100px;
//     //             margin-bottom: 10px;
//     //             padding : 2rem;
//     //             // background-color: beige;

//     //             // .fa-magnifying-glass{
//     //             //     justify-self: flex-end;
//     //             // }
                


    
    .grid-container{
        // border : 1px solid blue;
        
        height: auto;
        display : grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 10px 200px 35px 200px 35px 200px 50px 200px 35px 200px 50px 200px 35px;
      
        margin-bottom: -20px;
        justify-content: center;
        margin : auto;
    }
    .box{
        font-size: 2rem;
    }
   
    .box-one{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .box-two{
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .box-three{
        grid-row: 6/7 ;
        grid-column: 2/3;
    }
    .box-four{
        grid-row: 8/9;
        grid-column: 2/3;
    }
    .box-five{
        grid-row: 10/11;
        grid-column: 2/3;
    }
    .box-six{
        grid-row: 12/13;
        grid-column: 2/3;
    }

    footer{
        // .no-display{
        //     display : flex; //when responsive, subscribe button shows up on the footer
        // }
        .no-initial-display-home{
            display : none;
        }
        
          // align-items: center;
          justify-content: space-around;
          padding : 2rem;
        //   border : 1px solid black;
          max-width : 100%;
          margin : 0 auto;
          height: auto;
          margin-bottom: 10px;
          // background-color: beige;
          font-size: 2rem;
    }
}

@media screen and (max-width : 672px){
   
    
    .grid-container{
        // border : 1px solid blue;
        max-width : 100%;
        height: auto;
        display : grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 10px 250px 35px 250px 35px 250px 50px 250px 35px 250px 50px 250px 35px;
      
        margin-bottom: -20px;
        justify-content: center;
        margin : 0 auto;
    }
}

@media screen and (max-width : 400px){
    .primary-header{
        a{
            display :none;
        }
       
    }
    footer{
    .no-initial-display-home{
        display : inline-block;
    }
}
    
}