.content{
    //fixme : please enter margin bottom for contents inside the content class
    p{
        margin-bottom: 7px;
       
        
    }
}
.green-label{
    color : rgb(13, 240, 13);
}
.blue-label{
    color : blue;
}
.blue-highlight{
    color: blue;
}
aside{
    padding : 0 3rem;
}
h1,h2,p{
   
    margin-bottom: 2rem;
}
figcaption{
    margin-bottom: 1rem;
}
.first-paragraph{
    margin-top: 1rem;
}
.boxed-paragraph{
    border : 1px solid black;
}